<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Top 15
    </ion-list-header>

    <ion-item (click)="presentActionSheet(top)" *ngFor="let top of artTop">
      <ion-thumbnail slot="start">
        <!-- <ion-img
          src="../../assets/product.png">
        </ion-img> -->
        <ion-img [src]="top.image">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{top.aRTALIAS}}</h2>
        <p>{{top.dESCART}}</p>
      </ion-label>
      <div slot="end">
        <h2>{{top.pRCCOMPRA}}€</h2>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Tus favoritos ❤️
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img
          src="../../assets/product.png">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <div slot="end">
        <h2>25€</h2>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img
          src="../../assets/product.png">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <div slot="end">
        <h2>25€</h2>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Promociones
    </ion-list-header>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img
          src="../../assets/product.png">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <div slot="end">
        <h2>25€</h2>
      </div>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img
          src="../../assets/product.png">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <div slot="end">
        <h2>25€</h2>
      </div>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img
          src="../../assets/product.png">
        </ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
      <div slot="end">
        <h2>25€</h2>
      </div>
    </ion-item>
  </ion-list>
   <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="['/cart']" [state]="{ products: products}">
    <ion-badge color="danger" style="left: -3px; z-index: 3; position: absolute; top:-2px; border-radius:100%; padding-left: 0.5rem;padding-right: 0.5rem;">{{products.length}}
    </ion-badge>
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>  -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button [routerLink]="['/cart']" [state]="{ products: products}"  color="secondary" #cart>
      <div class="cart-length">{{ products.length }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>